{% extends "plantillaPadre.html" %}

{% block content %}

<style>
  .visible {
  display: block;
}

.oculto {
  display: none;
}
</style>

<div class="row">|
    <p class="subtemas"><i class="material-icons iconhr" >safety_divider</i> Aspirantes Inscritos y no Inscritos</p>
</div>

<form id="filtro-form" method="GET" action="{% url 'Aspirante:datosAspirantesFiltro' %}">
  {% csrf_token %} 
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
    
      <select id="periodo" name="periodo" onchange="this.form.submit()" class="custom-input form-select" required>
        
        {% for periodo in lperiodos %}
              <option value="{{ periodo.idPeriodo }}" {% if periodo == periodoActivo %}selected{% endif %}>
                  {{ periodo.fechaInicio|date:"M" }} - {{ periodo.fechaFin|date:"M Y" }}
              </option>
          {% endfor %}
      </select>
    </div>
 
    
  </div> 
  <div class="row">
        <div class="col-sm-3" ></div>
        <div class="col-sm-2 text-center">
          <div class="form-check form-check-inline ">
            <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="12" checked {% if radios == '12' %}checked{% endif %}>
            <label class="form-check-label" for="inlineRadio1">Todos</label>
          </div>
       </div>
        <div class="col-sm-2 text-center">
          <div class="form-check form-check-inline ">
            <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="2" {% if radios == '2' %}checked{% endif %}>
            <label class="form-check-label" for="inlineRadio2">Registrados</label>
          </div>
        </div>
        <div class="col-sm-2 text-center">
          <div class="form-check form-check-inline ">
            <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="1" {% if radios == '1' %}checked{% endif %}>
            <label class="form-check-label" for="inlineRadio3">No Registrados</label>
          </div>
        </div>
  </div>
  </form>


<div class=" table-responsive">
    <table class="tablep table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Tel. Casa</th>
          <th scope="col">Tel. Celular</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Bachillerato de procedencia</th>
          <th scope="col">Carrera</th>
          <th scope="col">Estatus</th>
          
        </tr>
      </thead>
      <tbody>
        {% for aspirante in laspirantes %}
        <tr>
           <td>{{ forloop.counter }}</td>
            <td>{{aspirante.idPersona.nombre}} {{aspirante.idPersona.ape1}} {{aspirante.idPersona.ape2}}</td>
            <td>{{aspirante.idPersona.calle}} {{aspirante.idPersona.numero}}, {{aspirante.idPersona.idColonia.nombreColonia}}, {{aspirante.idPersona.idColonia.idMunicipio.nombreMunicipio}}, {{aspirante.idPersona.idColonia.idMunicipio.idEstado.nombreEstado}}</td>
            <td>{{aspirante.idPersona.telCasa}}</td>
            <td>{{aspirante.idPersona.telCelular}}</td>
            <td>{{aspirante.idPersona.correo}}</td>
            <td>{{aspirante.idEscuelaProcedencia.nombreEscuela}}</td>
            <td>{{aspirante.encuesta_set.first.idCarrera.siglas}}</td>
            <td>{{aspirante.estatus}}</td>
            
        </tr>
        {% endfor %}
        
       </tbody>
      
    </table>
  </div>



<script>
const radios = document.querySelectorAll('input[name="option"]');
const fichas = document.getElementById('fichas');
const fechas = document.getElementById('fechas');

radios.forEach(radio => {
  radio.addEventListener('change', () => {
    if (radio.value === 'fichas') {
      fichas.classList.add('visible');
      fichas.classList.remove('oculto');
      fechas.classList.remove('visible');
      fechas.classList.add('oculto');
    } else {
      fechas.classList.add('visible');
      fechas.classList.remove('oculto');
      fichas.classList.remove('visible');
      fichas.classList.add('oculto');
    }
  });
});
</script>

<script>
  //Este script es para que el campo de fecha Fin cargue con la fecha del hoy siempre por default
  const today = new Date().toISOString().split('T')[0];
  const fechaFinInput = document.getElementById('fechaFin');
  fechaFinInput.value = today;
</script>



{% endblock %}
