{% extends "plantillaPadre.html" %}

{% block content %}

{% load static%}

<div class="row centrar">
    <div class="card border-secondary" style="max-width: 65%;">
        <div class="card-header ">
            <p class="subtemas">Registro de aspirantes para TSU</p>
        </div>
        <div>
            <div style="text-align: center;">
                <i style="font-size: 12rem !important;" class="material-icons iconnum">save_as</i>
            </div>
        </div>
        <form class="row gt-3 gy-2 align-items-center" action="{% url 'Aspirante:get_aspirante' %}" method="POST">
            {% csrf_token %}
            <label for="filtro" class="custom-label form-label"><i class="material-icons iconnum">search</i> Buscar por:
            </label>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <label class="custom-label form-label">Folio</label>
                    <input type="number" class="custom-input form-control" name="folioBusca" id="folioBusca">
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Nombre</label>
                    <input type="text" class="custom-input form-control" name="nombreBusca" id="nombreBusca"
                        maxlength="40">
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Primer Apellido</label>
                    <input type="text" class="custom-input form-control" name="ape1Busca" id="ape1Busca" maxlength="30">
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Segundo Apellido</label>
                    <input type="text" class="custom-input form-control" name="ape2Busca" id="ape2Busca" maxlength="30">
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-2 d-flex">
                    <button type="submit" style="width: auto; margin-top: 35px; margin-left: auto; height: fit-content;" class="btnr btn">Buscar</button>
                </div>
            </div>
        </form>
    </div>
          
<!--- 
        <div class="card-body">

            <form class="row g-3" action="/updateAspirante/" method="post" enctype="multipart/form-data" onsubmit="imprimir()">
                {% csrf_token %}
                <input type="hidden" name="aspirante" id="aspirante" value="{{datos.idAspirante}}">
                <div class="col-md-12">
                    <p class="subtemas"><i class="material-icons iconhr">person</i> Datos Personales</p>
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">CURP</label>
                    <input type="text" class="custom-input form-control" name="curp" id="curp" maxlength="18"
                        value="{{datos.idPersona.curp}}">
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Nombre</label>
                    <input type="text" class="custom-input form-control" name="nombre"
                        value="{{datos.idPersona.nombre}}" maxlength="30" required>
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Primer Apellido</label>
                    <input type="text" class="custom-input form-control" name="ape1" value="{{datos.idPersona.ape1}}"
                        maxlength="30" required>
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Segundo Apellido</label>
                    <input type="text" class="custom-input form-control" name="ape2" value="{{datos.idPersona.ape2}}"
                        maxlength="30">
                </div>

                <div class="col-md-3">
                    <label class="custom-label form-label">Teléfono de casa</label>
                    <input type="number" maxlength="10" class="custom-input form-control" name="tel" required>
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Correo</label>
                    <input type="email" class="custom-input form-control" name="correo" required maxlength="80">
                </div>
                <div class="col-md-3">
                    <label for="sexo" class="custom-label form-label">Sexo</label>
                    <select id="sexo" name="sexo" class="custom-input form-select" required>
                        <option selected disabled="true" value="{{datos.idPersona.sexo}}"></option>
                        <option value="1">Femenino</option>
                        <option value="2">Masculino</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Edad</label>
                    <input type="text" class="custom-input form-control" name="edad" maxlength="30">
                </div>

                <div class="col-md-4">
                    <label class="custom-label form-label">Calle</label>
                    <input type="text" class="custom-input form-control" name="calle" value="{{datos.idPersona.calle}}"
                        required maxlength="30">
                </div>
                <div class="col-md-2">
                    <label class="custom-label form-label">Número</label>
                    <input type="text" class="custom-input form-control" name="numero"
                        value="{{datos.idPersona.numero}}" required maxlength="5">
                </div>
                <div class="col-md-3">
                    <label for="estadoCivil" class="custom-label form-label">Estado Civil</label>
                    <select id="estadoCivil" name="estadoCivil" class="custom-input form-select" required>
                        <option selected disabled="true" value="{{datos.idPersona.estadoCivil}}"></option>
                        <option value="1">Soltero (a)</option>
                        <option value="2">Casado (a)</option>
                        <option value="3">Viudo (a)</option>
                        <option value="4">Divorciado (a)</option>
                        <option value="5">Unión libre</option>
                        <option value="6">No especificar</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="hijos" class="custom-label form-label">¿Tiene hijos?</label>
                    <select id="hijos" name="hijos" class="custom-input form-select" required>
                        <option selected disabled="true" value="{{datos.idPersona.hijos}}"></option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="custom-label form-label">Promedio de bachillerato</label>
                    <input type="number" class="custom-input form-control" name="prom" value="{{datos.promedioPrepa}}"
                        required maxlength="5">
                </div>
                <div class="col-md-2">
                    <label class="custom-label form-label">Año de ingreso</label>
                    <input type="number" class="custom-input form-control" id="ingreso" name="ingreso"
                        value="{{datos.añoIngresoPrepa}}" required maxlength="5">
                </div>
                <div class="col-md-2">
                    <label class="custom-label form-label">Año de egreso</label>
                    <input type="number" class="custom-input form-control" id="egreso" name="egreso"
                        value="{{datos.añoEgresoPrepa}}" required maxlength="5">
                </div>
                <div class="col-md-6">
                    <label for="carrera1" class="custom-label form-label">Carrera seleccionada para TSU</label>
                    <select id="carrera1" name="carrera1" class="custom-input form-select" required>
                        <option selected disabled="true" value=""></option>
                        {% for carrer in lcarreras%}
                            <option value="{{carrer.idCarrera}}">{{carrer.nombreCarrera}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-12">
                    <p class="subtemas"> <i class="material-icons iconhr">folder</i> Documentación entregada</p>
                </div>
                <div class="col-md-12">
                    <label for="documentos" class="custom-label form-label"></label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" id="acta" name="acta" value="">
                        <label for="acta" class="custom-label form-check-label">Acta de nacimiento</label>
                        <input type="hidden" id="actaDB" value="{{docs.actaF}}">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" id="curpDoc" name="curpDoc" value="">
                        <label for="curp" class="custom-label form-check-label">curp</label>
                        <input type="hidden" id="curpDB" value="{{docs.curpF}}">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" id="foto" name="foto" value="">
                        <label for="foto" class="custom-label form-check-label">Fotografias</label>
                        <input type="hidden" value="{{datos.fotoF}}" id="fotoDB">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" id="certificado" name="certificado"
                            value="">
                        <label for="certificado" class="custom-label form-check-label">Certificado de
                            bachillerato</label>
                        <input type="hidden" id="certificadoDB" value="{{docs.certificadoBachilleratoF}}">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input check" type="checkbox" id="constancia" name="constancia"
                            value="">
                        <label for="constancia" class="custom-label form-check-label">Constancia de estudios</label>
                        <input type="hidden" id="constanciaDB" value="{{datos.constanciaF}}">
                    </div>

                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Folio Ceneval</label>
                    <input type="text" class="custom-input form-control" name="folioCeneval" id="folioCeneval" required
                        maxlength="30">
                </div>
                <div class="col-md-3">
                    <label class="custom-label form-label">Folio pago de Ficha</label>
                    <input type="text" class="custom-input form-control" name="folioFicha" id="folioFicha" required
                        maxlength="30">
                </div>
                <div style="text-align: end;">
                    <button type="submit" class="btnr btn">Editar</button>
                </div>

            </form>
            <div style="text-align: end;">
                <form action="/reporteAspirante/">
                    {% csrf_token %}
                    <button class="btns btn">Imprimir reporte</button>
                </form>
            </div>
            <br><br>
        </div>
    </div>-->
</div>

<script defer>
    //Bloquear campos dependiendo el filtro de busqueda
    window.onload = function () {
        var folio = document.getElementById("folioBusca");
        var nombre = document.getElementById("nombreBusca");
        var apellido1 = document.getElementById("ape1Busca");
        var apellido2 = document.getElementById("ape2Busca");
        folio.addEventListener("change", function () {
            if (folio.value.trim() !== "") {
                nombre.disabled = true;
                apellido1.disabled = true;
                apellido2.disabled = true;
            }else{
                nombre.disabled = false;
                apellido1.disabled = false;
                apellido2.disabled = false;
            }
        });
        nombre.addEventListener("input", function () {
            if (nombre.value.trim() !== "") {
                folio.disabled = true;
            }else{
                folio.disabled = false;
            }

        });
};
</script>
</div>

{% endblock %}