
{% extends "plantillaPadre.html" %}

{% block content %}


<div class="row">
  <p class="subtemas"><i class="material-icons iconhr" >article</i> Datos de Aspirantes</p>
<!-- Button trigger modal -->

</div>
<!-- Modal -->
<div class="modal fade" id="datosAspirantes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Selecciona los datos para generar la tabla</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/datosPersonalizados/" method="POST">
        {% csrf_token %}
      <div class="modal-body">
        <div class="row">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="nombre" name="nombre" checked>
            <label class="form-check-label" for="flexCheckChecked">Nombre</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="curp" name="curp" checked>
            <label class="form-check-label" for="flexCheckChecked">CURP</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="curp" name="domicilio" checked>
            <label class="form-check-label" for="flexCheckChecked">Domicilio</label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="nombre" name="tcasa" checked>
            <label class="form-check-label" for="flexCheckChecked">Tel. Casa</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="curp" name="celular" checked>
            <label class="form-check-label" for="flexCheckChecked">Celular</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="curp" name="curp" checked>
            <label class="form-check-label" for="flexCheckChecked">Correo</label>
          </div>
        </div>
      </div>


        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>


<form id="filtro-form" method="GET" action="{% url 'Aspirante:datosAspirantesFiltro' %}">
{% csrf_token %} 
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6 text-center">
  
    <select id="periodo" name="periodo" onchange="this.form.submit()" class="custom-input form-select" required>
      
      {% for periodo in lperiodos %}
            <option value="{{ periodo.idPeriodo }}" {% if periodo == periodoActivo %}selected{% endif %}>
                {{ periodo.fechaInicio|date:"M" }} - {{ periodo.fechaFin|date:"M Y" }}
            </option>
        {% endfor %}
    </select>
  </div>
  <div class="col-sm-4 text-center"><a href="#" id="otroEnlace" target="_blank" class="btns btn" ><i class="material-icons iconhr" >picture_as_pdf</i> Generar Reporte PDF</a>
  </div>
  
</div> 
<div class="row">
      <div class="col-sm-2" ></div>
      <div class="col-sm-2 text-center">
        <div class="form-check form-check-inline ">
          <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="12" checked {% if radios == '12' %}checked{% endif %}>
          <label class="form-check-label" for="inlineRadio1">Todos</label>
        </div>
     </div>
      <div class="col-sm-2 text-center">
        <div class="form-check form-check-inline ">
          <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="2" {% if radios == '2' %}checked{% endif %}>
          <label class="form-check-label" for="inlineRadio2">Registrados</label>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="form-check form-check-inline ">
          <input class="form-check-input" type="radio" name="filtro" id="filtro" onchange="this.form.submit()" value="1" {% if radios == '1' %}checked{% endif %}>
          <label class="form-check-label" for="inlineRadio3">No Registrados</label>
        </div>
      </div>
</div>
</form>



  <div class=" table-responsive">
    <table class="tablep table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">CURP</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Tel. Casa</th>
          <th scope="col">Celular</th>
          <th scope="col">Correo</th>
          <th scope="col">Bachillerato de procedencia</th>
          <th scope="col">Carrera</th>
          <th scope="col">Estatus</th>
          <th scope="col">Proceso Ficha</th>
        </tr>
      </thead>
      <tbody>
        {% for aspirante in laspirantes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{aspirante.idPersona.nombre}} {{aspirante.idPersona.ape1}} {{aspirante.idPersona.ape2}}</td>
            <td>{{aspirante.idPersona.curp}}</td>
            <td>{{aspirante.idPersona.calle}} {{aspirante.idPersona.numero}} {{aspirante.idPersona.idColonia.nombreColonia}} {{aspirante.idPersona.idColonia.idMunicipio.nombreMunicipio}} {{aspirante.idPersona.idColonia.idMunicipio.idEstado.nombreEstado}}</td>
            <td>{{aspirante.idPersona.telCasa}}</td>
            <td>{{aspirante.idPersona.telCelular}}</td>
            <td>{{aspirante.idPersona.correo}}</td>
            <td>{{aspirante.idEscuelaProcedencia.nombreEscuela}}</td>
            <td>{{aspirante.encuesta_set.first.idCarrera.siglas}}</td>
            <td>{{aspirante.estatus_view}}</td>
            <td>{{aspirante.idProcesoFicha.idProcesoFicha}}</td>
            
        </tr>
        {% endfor %}
       </tbody>
      
    </table>
  </div>
</div>

<script>
  var baseUrl = '{% url "Reportes:reporteDatosAspirantes" 0 0 %}'; // URL base con valores de relleno

  document.getElementById('otroEnlace').addEventListener('click', function(event) {
    event.preventDefault(); // Evita que el enlace se abra normalmente

    // Obtener los valores de los campos del formulario
    var periodo = parseInt(document.getElementById('periodo').value) || 0;
    var filtro = parseInt(document.querySelector('input[name="filtro"]:checked').value) || 0;

    // Construir la URL completa en JavaScript
    var url = baseUrl.replace('0/0/', periodo + '/' + filtro + '/');

    // Abrir la URL en una nueva ventana o pestaña
    window.open(url, '_blank');
  });
</script>



{% endblock %}



