{% extends "plantillaPadre.html" %}

{% block content %}
                <div class="row" >


                            <form class="row g-3" method="post" enctype="multipart/form-data" >
                              {% csrf_token %} 
                              <div class="col-md-2">
                                </div>
                                
                                <div class="col-md-6">
                                  <label  class="form-label">Acta de Nacimiento</label>
                                  <input type="file" class="form-control" name="acta" required accept=".pdf">
                                  {{ form.as_p }}
                                 </div>

                             
                                

                              <div class="col-4" style="padding-top:35" >

                                <button type="submit" class="btn btn-primary btnr">Guardar</button>
                              </div>
                            </form>

                           





                </div>
{% endblock %}
