{% extends "plantillaPadre.html" %}

{% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="subtemas"><i class="material-icons iconhr">auto_stories</i> Catálogos</p>
                    </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-naranja">
                                           <span class="material-icons">history_edu</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Escuelas de procedencia</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Gestionar las escuelas de procedencia</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="/universidad">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">apartment</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Universidades</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Gestionar las universidades</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
							 
							

                            <div class="col-md-12">
                                <p class="subtemas"><i class="material-icons iconhr">account_tree</i> Procesos</p>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-azul">
                                            <span class="material-icons">person_add</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Registrar Aspirante TSU</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Inscripciones y Pagos</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-verde">
                                            <span class="material-icons">library_add_check</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Inscripciones TSU</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Edita datos personales</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-naranja">
                                            <span class="material-icons">article</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Pre-registro TSU</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Gestionar las escuelas de procedencia</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-azul">
                                            <span class="material-icons">person</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Registrar entrevista</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Gestionar las escuelas de procedencia</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-verde">
                                            <span class="material-icons">person_add</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Registrar Aspirante a Ingeniería</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Inscripciones y Pagos</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-naranja">
                                            <span class="material-icons">library_add_check</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Inscripciones a Ingeniería</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Edita datos personales</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-azul">
                                            <span class="material-icons">article</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Pre-registro a Ingeniería</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Gestionar las escuelas de procedencia</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-verde">
                                            <span class="material-icons">description</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Migración de puntaje ceneval</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Gestionar las escuelas de procedencia</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-md-12">
                                <p class="subtemas"><i class="material-icons iconhr">folder_open</i> Reportes</p>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-naranja">
                                            <span class="material-icons">groups</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Aspirantes Registrados</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Reporte de aspirantes registrados</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="/datosAspirantes">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-azul">
                                            <span class="material-icons">analytics</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Datos de Aspirantes</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Reporte </p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <a href="#pablo">
                                 <div class="card card-stats">
                                     <div class="card-header">
                                         <div class="icon icon-verde">
                                            <span class="material-icons">monitoring</span>
                                         </div>
                                     </div>
                                     <div class="card-content">
                                         <p class="category"><strong>Resultados de entrevistas</strong></p>
                                         <h3 class="card-title"></h3>
                                     </div>
                                     <div class="card-footer">
                                         <div class="stats">
                                             <p>Edita datos personales</p>
                                         </div>
                                     </div>
                                 </div></a>
 
                             </div>

{% endblock %}



