{% extends "plantillaPadre.html" %}

{% block content %}
                <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-naranja">
                                           <span class="material-icons">article</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Calificaciones</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Consulta calificaciones</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">note</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Reportes</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Genera reportes en pdf</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
							 <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul">
                                           <span class="material-icons">settings</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Procesos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Inscripciones y Pagos</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">person</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Mis datos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Edita datos personales</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>

{% endblock %}



