{% extends "plantillaPadre.html" %}

{% block content %}


 <div class="container-uni"> 
  <div class="card text-center " style="width: 40%; height: 60%; padding-bottom: 2%;">
    <div class="card-body">
      <p class="subtemas">Registro de Areas</p>
      
      <br>
      <form  class="form" id="formulario" action="/registrarArea/" method="POST"> 
        {% csrf_token %}
        
        <div class="mb-3">
          <p><i class="material-icons-form">square_foot</i></p>
              <div>
              <label class="form-label" for="siglas">Area</label>
              <input type="text" class="form-control" id="area" name="area"  maxlength="100"  autofocus required>
            </div>
          </div>
          <a href="/tablaAreas/" class="btns btn btn-primary" >Listado de Areas</a>
          <button type="submit" class="btnr btn btn-primary">Guardar</button>
      </form>
          </div>
        </div>
 </div>

        

  
{% endblock %}

