{% extends "plantillaPadre.html" %}

{% block content %}


 <div class="container-uni"> 
  <div class="card text-center " style="width: 40%; height: 60%; padding-bottom: 2%;">
    <div class="card-body">
      <p class="subtemas">Registro de Puestos</p>
      
      <br>
      <form  class="form" id="formulario" action="/registrarPuesto/" method="POST"> 
        {% csrf_token %}
        
        <div class="mb-3">
          <p><i class="material-icons-form">engineering</i></p>
              <div>
              <label class="form-label" for="siglas">Nombre del púesto</label>
              <input type="text" class="form-control" id="puesto" name="puesto"  maxlength="100"  autofocus required>
            </div>
          </div>
          <a href="/tablaPuestos/" class="btns btn btn-primary" >Listado de Puestos</a>
          <button type="submit" class="btnr btn btn-primary">Guardar</button>
      </form>
          </div>
        </div>
 </div>
{% endblock %}

