{% extends "plantillaPadre.html" %}

{% block content %}

<div class="container-uni">
  <div class="card text-center" style="width: 85%; padding-bottom: 5%;">
    <div class="card-body">
      <p class="subtemas">Registro de Fichas</p>
      <form class="form" id="formulario" action="/registrarFicha/" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <p><i class="material-icons-form">calendar_month</i></p>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label" for="fechaInicio">Fecha de inicio de la ficha</label>
              <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" autofocus required>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="fechaFin">Fecha de finalizacion de la ficha</label>
              <input type="date" class="form-control" id="fechaFin" name="fechaFin" autofocus required>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-6">
              <label class="form-label" for="fechaExam">Fecha del examen</label>
              <input type="date" class="form-control" id="fechaExam" name="fechaExam" autofocus required>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="horaExam">Hora del examen</label>
              <input type="time" class="form-control" id="horaExam" name="horaExam" autofocus required>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-6">
                <label for="periodo" class="form-label">Periodo</label>
                <select id="periodo" name="periodo" class="form-select" autofocus required>
                    <option selected disabled="true">Seleccione...</option>
                    {% for p in periodos %}
                        <option value="{{ p.idPeriodo }}">{{ p.fechaInicio }} - {{ p.fechaFin }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-md-6">
                <label class="form-label" for="lugar">Lugar de Aplicacion</label>
                <input type="text" class="form-control" id="lugar" name="lugar" autofocus required>
            </div>
        </div>

        </div>
        <br>
        <a href="/tablaFichas/" class="btns btn btn-primary" >Listado de Fichas</a>
        <button type="submit" class="btnr btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>

<script>

</script>


{% endblock %}
