{% extends "reportes/padreReportes.html" %}

{% block content %}
{% load static %}
<style>
    @page {
      size: landscape;
    }

    th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: auto; /* Ajustar ancho de columna al contenido */
     /* Evitar salto de línea en el contenido */
    }
</style>

<div class=" table-responsive">
    <table class="tablep table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">CURP</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Tel. Casa</th>
          <th scope="col">Celular</th>
          <th scope="col">Correo</th>
          <th scope="col">Bachillerato de procedencia</th>
          <th scope="col">Carrera</th>
          <th scope="col">Estatus</th>
          <th scope="col">Proceso Ficha</th>
        </tr>
      </thead>
      <tbody>
        {% for aspirante in laspirantes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{aspirante.idPersona.nombre}} {{aspirante.idPersona.ape1}} {{aspirante.idPersona.ape2}}</td>
            <td>{{aspirante.idPersona.curp}}</td>
            <td>{{aspirante.idPersona.calle}} {{aspirante.idPersona.numero}} {{aspirante.idPersona.idColonia.nombreColonia}} {{aspirante.idPersona.idColonia.idMunicipio.nombreMunicipio}} {{aspirante.idPersona.idColonia.idMunicipio.idEstado.nombreEstado}}</td>
            <td>{{aspirante.idPersona.telCasa}}</td>
            <td>{{aspirante.idPersona.telCelular}}</td>
            <td>{{aspirante.idPersona.correo}}</td>
            <td>{{aspirante.idEscuelaProcedencia.nombreEscuela}}</td>
            <td>{{aspirante.encuesta_set.first.idCarrera.siglas}}</td>
            <td>{{aspirante.estatus_view}}</td>
            <td>{{aspirante.idProcesoFicha.idProcesoFicha}}</td>
            
        </tr>
        {% endfor %}
       </tbody>
      
    </table>
  </div>


{% endblock %}