{% extends "reportes/padreReportes.html" %}

{% block content %}
{% load static %}

<style type="text/css">
  @page {
    margin-left: 1cm; 
    margin-right: 1cm; 
    margin-top: 0.5cm; 
    margin-bottom: 0cm;
  }

  .text-with-border {
    border: 1px solid black;
    padding: 2px 5px;
    display: inline-block;
  }
</style>

<table id="reportPR" class="table table-borderless" width="100%">
  <tr>
    <td style="text-align: right;" colspan="4"><img src="{% static 'img/logoUT.png' %}" style="height: 50px;"></td>
    <td style="text-align: right;" colspan="2">REESC01-B</td>
  </tr>
  <tr></tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Departamento de Servicios Escolares</b></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Preinscripción de aspirante</b></td>
  </tr>
  <tr>
    <td style="font-size: medium; width: 16%;">Folio CENEVAL:</td>
    <td style="font-size: medium; width: 16%;">{{datos.folioCeneval}}</td>
    <td style="width: 16%;"></td>
    <td style="width: 16%; font-size: medium;"></td>
    <td style="width: 16%; font-size: medium;">Folio interno: </td>
    <td style="width: 16%; font-size: medium;">{{datos.idPersona.idPersona}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Nombre del aspirante:</td>
    <td colspan="5" style="font-size: medium;">{{datos.idPersona.nombre}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Carrera y Modalidad:</td>
    <td colspan="5" style="font-size: medium;">{{carrera1.nombreCarrera}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Carrera opcional:</td>
    <td colspan="5" style="font-size: medium;">{{carrera2.nombreCarrera}}</td>
  </tr>
<tr></tr>
  <tr>
    <td colspan="6" style="font-size: medium;"><b>Datos del Examen:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">Fecha: {{datos.idProcesoFicha.fechaExani}}</td>
    <td colspan="2" style="font-size: medium;">Hora: {{datos.idProcesoFicha.horaExani}}</td>
    <td colspan="2" style="font-size: medium;">Lugar: {{datos.idProcesoFicha.lugarAplicacion}}</td>
  </tr>

  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Documentos entregados:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">
      {% if docs.actaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Acta de nacimiento (copia)
    </td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      {% if docs.curpF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Clave CURP (2 copias)
    </td>
    <td colspan="2" style="font-size: medium;">
      {% if docs.fotoF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Fotografías tamaño infantil (2)
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">
      {% if docs.certificadoBachilleratoF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Certificado de Bachillerato (copia)
    </td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      {% if docs.constanciaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Constancia de estudios
    </td>
    <td colspan="2" style="font-size: medium;">
      {% if docs.actaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Pago de ficha
    </td>
  </tr>

  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Requisitos para presentar examen:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: medium;">a) Ficha de registro</td>
    <td colspan="2" style="text-align: center; font-size: medium;">b) Ficha de CENEVAL</td>
    <td colspan="2" style="text-align: center; font-size: medium;">c) Calculadora</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: medium;">d) Goma de borrar blanca</td>
    <td colspan="2" style="text-align: center; font-size: medium;">e) Lápiz #2</td>
    <td colspan="2" style="text-align: center; font-size: medium;">f) Asistir 45 minutos antes del examen</td>
  </tr>

  <tr>
    <td colspan="6" style="font-size: medium;"><b>Nota 1: </b>Se aplica Exani II por parte de Ceneval en Selección y
      Diagnóstico, con duración de aproximadamente 3 ½ horas</td>
  </tr>
  <tr>
    <td colspan="6" style="font-size: medium; text-align: justify;"><b>Nota 2: </b>El aspirante voluntariamente expresa su consentimiento de
      proporcionar sus datos personales a la Universidad Tecnológica del Suroeste de Guanajuato para que genere los
      archivos o bancos de datos, uso de la institución, con el objetivo de prestar los servicios educativos y en
      seguimiento de estancias y estadías; así también, para que proporcione a terceros los datos personales para efecto
      de que el aspirante realice el examen de ingreso (EXANI II) y demás trámites ante de autoridades relacionados con
      aspectos educativos, igualmente para que se recopile, copile, use, transfiera, intercambie y almacene sus datos
      personales con fines exclusivamente educativos y laborales (bolsa de trabajo). Lo anterior, de conformidad con lo
      establecido en el.</td>
  </tr>
  <tr>
    <td colspan="6" style="font-size: medium; text-align: center;"><b>SE ENTREGA COPIA DE DOCUMENTO CONTENIENDO FECHAS
        IMPORTANTES PARA EL PROCESO. </b></td>
  </tr>
  <tr></tr>
  <tr>
    <td colspan="2"></td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      <hr>
    </td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Firma del Aspirante</b></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Original: </b> Expediente</td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Recibió:</b> {{datos.idUsuarioRegistra.usuario}}</td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Fecha: </b> Valle de Santiago, Gto. {{fecha}}</td>
  </tr>
</table>
<hr>
<table id="reportPR" class="table table-borderless" width="100%">
  <tr>
    <td style="text-align: right;" colspan="4"><img src="{% static 'img/logoUT.png' %}" style="height: 50px;"></td>
    <td style="text-align: right;" colspan="2">REESC01-B</td>
  </tr>
  <tr></tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Departamento de Servicios Escolares</b></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Preinscripción de aspirante</b></td>
  </tr>
  <tr>
    <td style="font-size: medium; width: 16%;">Folio CENEVAL:</td>
    <td style="font-size: medium; width: 16%;">{{datos.folioCeneval}}</td>
    <td style="width: 16%;"></td>
    <td style="width: 16%;"></td>
    <td style="width: 16%; font-size: medium;">Folio interno: </td>
    <td style="width: 16%;  font-size: medium;">{{datos.idPersona.idPersona}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Nombre del aspirante:</td>
    <td colspan="5" style="font-size: medium;">{{datos.idPersona.nombre}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Carrera y Modalidad:</td>
    <td colspan="5" style="font-size: medium;">{{carrera1.nombreCarrera}}</td>
  </tr>
  <tr>
    <td style="font-size: medium;">Carrera opcional:</td>
    <td colspan="5" style="font-size: medium;">{{carrera2.nombreCarrera}}</td>
  </tr>
<tr></tr>
  <tr>
    <td colspan="6" style="font-size: medium;"><b>Datos del Examen:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">Fecha: {{datos.idProcesoFicha.fechaExani}}</td>
    <td colspan="2" style="font-size: medium;">Hora: {{datos.idProcesoFicha.horaExani}}</td>
    <td colspan="2" style="font-size: medium;">Lugar: {{datos.idProcesoFicha.lugarAplicacion}}</td>
  </tr>

  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Documentos entregados:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">
      {% if docs.actaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Acta de nacimiento (copia)
    </td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      {% if docs.curpF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Clave CURP (2 copias)
    </td>
    <td colspan="2" style="font-size: medium;">
      {% if docs.fotoF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Fotografías tamaño infantil (2)
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: medium;">
      {% if docs.certificadoBachilleratoF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Certificado de Bachillerato (copia)
    </td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      {% if docs.constanciaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Constancia de estudios
    </td>
    <td colspan="2" style="font-size: medium;">
      {% if docs.actaF == 1 %}
      <span>&#10003;</span>
      {% else %}
      <span>&#10007;</span>
      {% endif %}
      Pago de ficha
    </td>
  </tr>

  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Requisitos para presentar examen:</b></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: medium;">a) Ficha de registro</td>
    <td colspan="2" style="text-align: center; font-size: medium;">b) Ficha de CENEVAL</td>
    <td colspan="2" style="text-align: center; font-size: medium;">c) Calculadora</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: medium;">d) Goma de borrar blanca</td>
    <td colspan="2" style="text-align: center; font-size: medium;">e) Lápiz #2</td>
    <td colspan="2" style="text-align: center; font-size: medium;">f) Asistir 45 minutos antes del examen</td>
  </tr>

  <tr>
    <td colspan="6" style="font-size: medium;"><b>Nota 1: </b>Se aplica Exani II por parte de Ceneval en Selección y
      Diagnóstico, con duración de aproximadamente 3 ½ horas</td>
  </tr>
  <tr>
    <td colspan="6" style="font-size: medium; text-align: justify;"><b>Nota 2: </b>El aspirante voluntariamente expresa su consentimiento de
      proporcionar sus datos personales a la Universidad Tecnológica del Suroeste de Guanajuato para que genere los
      archivos o bancos de datos, uso de la institución, con el objetivo de prestar los servicios educativos y en
      seguimiento de estancias y estadías; así también, para que proporcione a terceros los datos personales para efecto
      de que el aspirante realice el examen de ingreso (EXANI II) y demás trámites ante de autoridades relacionados con
      aspectos educativos, igualmente para que se recopile, copile, use, transfiera, intercambie y almacene sus datos
      personales con fines exclusivamente educativos y laborales (bolsa de trabajo). Lo anterior, de conformidad con lo
      establecido en el.</td>
  </tr>
  <tr>
    <td colspan="6" style="font-size: medium; text-align: center;"><b>SE ENTREGA COPIA DE DOCUMENTO CONTENIENDO FECHAS
        IMPORTANTES PARA EL PROCESO. </b></td>
  </tr>
  <tr></tr>
  <tr>
    <td colspan="2"></td>
    <td colspan="2" style="text-align: center; font-size: medium;">
      <hr>
    </td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Firma del Aspirante</b></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Original: </b> Expediente</td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Recibió:</b> 
      {% if usuario.ape2 != None %}
      {{usuario.nombre}} {{usuario.ape1}} {{usuario.ape2}}
      {% else %}
        {{usuario.nombre}} {{usuario.ape1}}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: medium;"><b>Fecha: </b> Valle de Santiago, Gto. {{fecha}}</td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center; font-size: small;">*Para descargar tu guía de estudios consulta la
      siguiente liga <b><u>http://www.ceneval.edu.mx/web/guest/exani</u></b></td>
  </tr>
</table>

{% endblock %}