{% extends "alumnos/indexalumno.html" %}

{% block content %}
                <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="editardatosalumno">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">contact_page</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Editar datos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Editar datos personales</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="pagos">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul">
                                           <span class="material-icons">paid</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Pagos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Pagos</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
						
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="reinscripcion">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-naranja">
                                           <span class="material-icons">how_to_reg</span>   
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Reinscripción en línea</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Reinscripción en línea</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
								<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul"> 
                                           <span class="material-icons">sports_soccer</span>   
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Actividades Extracurriculares</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Inscripción actividades extracurriculares</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
							
							  <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="cambiarcontrasena">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">lock_reset</span> 
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Cambio de Contraseña</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Cambiar Contraseña</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

{% endblock %}