{% extends "alumnos/indexalumno.html" %}

{% block content %}
                <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="adeudos">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">warning</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Adeudos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Adeudos de alumnos</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul">
                                           <span class="material-icons">article</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Promedios</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Consulta Promedios</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="documentacion">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-naranja">
                                           <span class="material-icons">folder</span>  
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Documentación electrónica</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Consulta Documentación electrónica</p>
                                        </div>
                                    </div>
                                </div></a>

                            </div>
								
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="boletas">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul">
                                           <span class="material-icons">list_alt</span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Boletas de calificaciones</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Consultar mis Boletas de calificaciones</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="hpagos">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-verde">
                                           <span class="material-icons">receipt_long</span>  
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Historial de Pagos</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Consulta Historial de Pagos</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
							
							<div class="col-lg-3 col-md-6 col-sm-6">
                               <a href="#pablo">
                                <div class="card card-stats">
                                    <div class="card-header">
                                        <div class="icon icon-azul">
                                           <span class="material-icons">description</span>  
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category"><strong>Formato de Inscripción</strong></p>
                                        <h3 class="card-title"></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <p>Reimprime Formato de Inscripción</p>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

{% endblock %}
