{% extends "plantillaPadre.html" %}

{% block content %}


<div class="row">
  <p class="subtemas">Listado de Periodos</p>
</div> 
  <div class="row">
    <div class="col-sm-8 text-align">
      <a href="/periodos/" class="botonAgregar">
        <i class="iconadd material-icons">add_circle</i> Agregar Nuevo Periodo </a>
    </div>
    <div class="col-sm-4 text-end search-bar">
      <div class="input-group">
        <span class="input-group-text" style="background-color: #00a886 "><i class="iconadd material-icons">search</i></span>
        <input type="text" class="form-control" id="searchInput" onkeyup="filterTable()" placeholder="Buscar...">
          
      </div>
  </div>
  </div>


  <div class="row"> 
  <div class="table-responsive">
    <table class="tablep table">
      <thead>
        <tr>
          <th scope="col" style="color: aliceblue;">#</th>
          <th scope="col" style="color: aliceblue;">Fecha de Inicio</th>
          <th scope="col" style="color: aliceblue;">Fecha de finalizacion</th>
          <th scope="col" style="color: aliceblue;">Generacion TSU</th>
          <th scope="col" style="color: aliceblue;">Generacion ING</th>
          <th scope="col" style="color: aliceblue;">Estatus</th>
          <th scope="col" style="color: aliceblue;">Acciones</th>
          
        </tr>
      </thead>
      <tbody>
        {% for periodo in periodos %}
        <form id="formulario-periodos" method="GET" action="/editarPeriodo/{{ periodo.idPeriodo }}">
          {% csrf_token %}
        <tr>
          <td>{{ periodos.start_index|add:forloop.counter0 }}</td>
          <td><input class="editable" type="date" name="fechaInicio" id="fechaInicio"  value="{{periodo.fechaInicio|date:'Y-m-d'}}"></td>
          <td><input class="editable" type="date" name="fechaFin" id="fechaFin" value="{{ periodo.fechaFin|date:'Y-m-d' }}"></td>
          <td><input class="editable" type="text" name="GenTSU" id="GenTSU" value="{{ periodo.genTSU }}"></td>
          <td><input class="editable" type="text" name="GenING" id="GenING" value="{{ periodo.genING }}"></td>
          <td>
            <div class="form-check form-switch">
            <input class="form-check-input estado-checkbox" name="estatus" type="checkbox" role="switch" value="1" {% if periodo.activo == 1 %}checked{% endif %}>
            <input type="hidden" name="estatus_original" value="{{ periodo.activo }}">
            </div>
          </td>
          

          
          <td><button class="material-icons-form-save" title="Guardar Cambios" >save</button></td>
        
        </tr>
        
        </form>


    
        
        {% endfor %}

        
      </tbody>

      
    </table>
    
    <nav aria-label="Page navigation">
      <ul class="pagination custom-pagination">
          {% if periodos.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ periodos.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Anterior</span>
                  </a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <span class="page-link" aria-disabled="true">&laquo;</span>
              </li>
          {% endif %}
          
          <li class="page-item active" aria-current="page">
              <span class="page-link">
                  Página {{ periodos.number }} de {{ periodos.paginator.num_pages }}
                  <span class="sr-only"></span>
              </span>
          </li>
  
          {% if periodos.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ periodos.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Siguiente</span>
                  </a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <span class="page-link" aria-disabled="true">&raquo;</span>
              </li>
          {% endif %}
      </ul>
  </nav>
  </div>
</div>




<script>
document.addEventListener("DOMContentLoaded", function() {
  const checkboxes = document.querySelectorAll('.estado-checkbox');

  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        // Desactivar todos los demas campos de estado
        checkboxes.forEach(function(otherCheckbox) {
          if (otherCheckbox !== checkbox) {
            otherCheckbox.checked = false;
          }
        });
      }
    });
  });
});
  </script>
  <script>
    function filterTable() {
        // Obtener el valor de búsqueda del input
        const searchInput = document.getElementById('searchInput').value.toUpperCase();
        const table = document.querySelector('.tablep');
        const tr = table.getElementsByTagName('tr');
    
        // Recorrer todas las filas de la tabla, excepto la primera (encabezados)
        for (let i = 1; i < tr.length; i++) {
            const tds = tr[i].getElementsByTagName('td');
            let displayRow = false;
    
            // Recorrer todas las celdas de la fila
            for (let j = 0; j < tds.length; j++) {
                const td = tds[j];
                if (td) {
                    // Comprobar si el texto de la celda coincide con la búsqueda
                    if (td.innerHTML.toUpperCase().indexOf(searchInput) > -1) {
                        displayRow = true;
                        break;
                    }
                }
            }
    
            // Mostrar u ocultar la fila según el resultado de la búsqueda
            tr[i].style.display = displayRow ? '' : 'none';
        }
    }
    </script>
  

  


{% endblock %}
